/* Css Reset-on phone */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* Home */

#home {
    height: 390px;
    padding: 3px 28px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 13px;
}


/* Services Section */

#services {
    flex-direction: column;
}

#services .box {
    padding: 20px;
    margin: 2px 15px;
    /* border-radius: 28px; */
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img {
    height: 136px;
    margin: auto;
    display: block;
}


/* Clients Section */

#clients {
    flex-wrap: wrap;
    overflow: hidden;
}

#clients img {
    width: 66px;
    padding: 6px;
    height: auto;
}


/* Contact */

#contact-box form {
    width: 80%;
}


/* Fotter */


/* Utility classes */

.h-primary {
    font-size: 26px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}